<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>[Contact] {{subject}}</title>
  <style type="text/css">
    body {
      width: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 200;
      line-height: 2;
      letter-spacing: 0.075em;
      background-color: #fff;
      color: #555;
    }

    table td {
      border-collapse: collapse;
      vertical-align: top;
    }

    table {
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <div style="margin: 25px">
    <p>Dear Administrator,</p>
    <p>Your received a new contact via website: </p>

    <table cellpadding="0" cellspacing="0" border="0" width="600">
      <tr>
        <td width="200">Sender: </td>
        <td width="400">
          {{name}}
        </td>
      </tr>

      <tr>
        <td width="200">Email: </td>
        <td width="400">
          {{email}}
        </td>
      </tr>

      <tr>
        <td width="200">Subject: </td>
        <td width="400">
          {{subject}}
        </td>
      </tr>

      <tr>
        <td width="200">Message: </td>
        <td width="400">
          {{message}}
        </td>
      </tr>
    </table>
  </div>
</body>

</html>